@page "/StaffLandingpage"
@using Kelburg_frontend.Services
@inject AuthService AuthService

<div class="hero-section">
    <div class="hero-overlay"></div>
    
    <div class="hero-content">
        <h1 class="hero-title" style="font-size: 5rem;">KELBURG STAFF</h1>
        <NavLink class="btn btn-outline-light staff-button" href="/StaffPanel">
            Staff Panel
        </NavLink>
    </div>
</div>


<style>
    .hero-section {
        position: relative;
        background: url('images/hero_image.jpg') no-repeat center center;
        background-size: cover;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: #fff;
        overflow: hidden;
    }

    .hero-curve {
        position: absolute;
        bottom: 0;
        width: 100%;
        line-height: 0;
        z-index: 2;
    }

    .hero-overlay {
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    .hero-content {
        margin-bottom: 80px;
        position: relative;
        z-index: 3;
        padding: 2rem;
        font-family: 'Playfair Display', serif;
        font-size: 1.5rem;
    }

    @@media (max-width: 768px) {
    .hero-title {
        font-size: 2rem;
    }
    .hero-subtitle {
        font-size: 1rem;
    }
    }

    .staff-button {
        border-radius: 25px;
        padding: 1rem 3rem;
        font-size: 1.25rem;
        font-weight: 500;
        text-transform: uppercase;
    }

    @@media (max-width: 576px) {
    .staff-button {
        font-size: 1rem;
        padding: 0.5rem 1.5rem;
    }
    }

    @@media (min-width: 576px) and (max-width: 768px) {
    .staff-button {
        font-size: 1.1rem;
        padding: 0.75rem 2rem;
    }
    }

    @@media (min-width: 768px) and (max-width: 992px) {
    .staff-button {
        font-size: 1.2rem;
        padding: 1rem 2.5rem;
    }
    }

    @@media (min-width: 992px) {
    .staff-button {
        font-size: 1.25rem;
        padding: 1rem 3rem;
    }
    }

</style>