@page "/StaffLandingpage"

<div class="hero-section">
    <div class="hero-overlay"></div>
    
    <div class="hero-content">
        <h1 class="hero-title" style="font-size: 5rem;">KELBURG STAFF</h1>
        <button class="btn btn-outline-light staff-button" href="">
            Staff Panel
        </button>
    </div>
</div>


