.container {
    display: flex;
    height: 100vh;
    font-family: 'Albert Sans', sans-serif;
}

.left-column, .right-column {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.vertical-line {
    width: 1px;
    background-color: #b8b8b8;
    margin: 35px 0;
    height: 85%;
}