.offcanvas .navbar-nav .nav-link {
    transition: background-color 0.3s;
    border-radius: 15px
}

.offcanvas .navbar-nav .nav-link:hover {
    background-color: #bfbfbf;
    color: black;
    
}

.container-fluid {
    align-items: center;
}