@page "/Carrer"

<div class="hero-section">
    <div class="hero-overlay"></div>

    <div class="hero-content">
        <h1 class="hero-title" style="font-size: 5rem;">A CAREER AT KELBURG</h1>
    </div>

    <div class="hero-curve">
        <svg viewBox="0 0 1440 320" preserveAspectRatio="none">
            <path fill="#fff" d="M0,320C480,320,960,0,1440,0V320H0Z"></path>
        </svg>
    </div>
</div>

