@page "/Login"
@using Blazored.LocalStorage
@using Kelburg_frontend.Services
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject AuthService AuthService
@inject IJSRuntime JSRuntime

<link rel="stylesheet" href="overflowhidden.css"/>

<section class="hero">
    <div class="hero-overlay"></div>
    <div class="form-container">
        <h3>Login</h3>
        
            <div class="form-row">
                <input placeholder="Email" @bind="inputEmail"/>
            </div>

        <div class="form-row">
            <input type="password" placeholder="Password" @bind="inputPassword">
        </div>
        
            <button class="submit-button" type="submit" disabled="@isLogginIn" @onclick="LogIn">Login</button>
            <p></p>
            <NavLink href="/SignUp">Sign Up?</NavLink>
            

        @if (isLogginIn)
        {
            <p>Logging In...</p>
        }
        @if (!string.IsNullOrEmpty(message))
        {
            <p>@message</p>
        }

    </div>
</section>