@page "/Login"
@using Blazored.LocalStorage
@using Kelburg_frontend.Services
@inject HttpClient Http
@inject NavigationManager NavigationManger


<link rel="stylesheet" href="overflowhidden.css"/>

<section class="hero">
    <div class="hero-overlay"></div>
    <div class="form-container">
        <h3>Login</h3>
        <EditForm Model="LoggedInUsers" OnValidSubmit="LoggingIn">
            <DataAnnotationsValidator/>
            <ValidationSummary/>
            
            <div class="form-row">
                <input placeholder="Email" @bind="LoggedInUsers.Email"/>
            </div>

            <div class="form-row">
                <input placeholder="Password" @bind="LoggedInUsers.PasswordBackdoor">
            </div>


            <button class="submit-button" type="submit" disabled="@isLogginIn">Login</button>
            <p></p>
            <NavLink href="/SignUp">Sign Up?</NavLink>
            
        </EditForm>

        @if (isLogginIn)
        {
            <p>Logging In...</p>
        }
        @if (!string.IsNullOrEmpty(message))
        {
            <p>@message</p>
        }

    </div>
</section>